<!DOCTYPE html>
<html>
<head>
  <title>Locationer</title>
  <%= stylesheet_link_tag    "locationer/application", :media => "all" %>
  <%= javascript_include_tag "locationer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
